{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/w1.css' %}">
</head>
<body>
    <div class="ab">
    <div class="heading">
        <h1>ABOUT US</h1>
        <h3>SMART VERIFICATION SYSTEM FOR MEDIA FILES USING BLOCKCHAIN</h3>
    </div>
    <section class="about-us">
        <img src="{% static 'images/3.jpg' %}">
        <div class="content">
            <h2>Why Verification?</h2>
            <p>In this modern world where information is stored and shared in digital manner in the format of image, video.
                Document privacy and authenticity of the data needs to be preserved which is not an easy task.
                The  major threat is where the data shared or stored can be tampered or manipulated with and it is very difficult to check for the same
                Sometimes the data we are collected like videos may have much importance which may be a crucial part in the evidence of crimes etc.
                So we need some technique which will helps to verify whether the data in the media file is manipulated or not .
                This system will overcome this challenge because we are building the system using the Blockchain technology.
            </p>
            <button class="read-more-btn">Read More</button>
        </div>
    </section>
 
      
      </section>
</div>
      
</body>
</html>